@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Increase or decrease the number 
  to change the vertical spacing globally*/

  /* Base Vertical Spacing */
  --space: 1.62;
  /* --space: 1.4; */

  /* Vertical Spacing - multiplier */
  --vspace: calc(var(--space) * 1rem);
  --vspace-0: calc(3 * var(--space) * 1rem);
  --vspace-1: calc(2.5 * var(--space) * 1rem);
  --vspace-2: calc(1.5 * var(--space) * 1rem);
  --vspace-3: calc(0.5 * var(--space) * 1rem);

  --size-700: 3.2917em;
  --size-600: 2em;
  --size-500: 1.5em;
  --size-400: 1.2292em;
  --size-300: 1.1042em;
  --size-200: 1em;
  --size-100: 0.8333em;
  --size-000: 0.75rem;

  /* --black-main: #282627; */
  --black-main: #030006;
  --white-main: #fefdfe;

  /* --black-main:#1a1e1f;
  --white-main:#dad4d2; */

  /* --black-main:#030006;
  --white-main:#d1d1c8; */

  /* --black-main:#1a1e1f;
  --white-main:#d4d9d6; */

  /* 
  --black-main: #231c18;
  --white-main: #ffffff; */

  /* --black-main: #322f30;
  --white-main: #ffffff; */

  /* --black-main: #3c2b3f;
  --white-main: #ffffff; */

  /* --black-main: #2e2414;
  --white-main: #ffffff; */

  --ibm-plex: "IBM Plex Serif", serif;
  --outfit: "Outfit", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  /* max-width: calc(25 * var(--vspace-1)); */
  margin: 0 auto;
  color: var(--black-main);
  background-color: var(--white-main);
  background-color: white;

  font-family: var(--outfit);
  font-weight: 300;
}

section {
  background-color: rgb(200, 194, 201);
}

p {
  line-height: var(--vspace);
}

h1 {
  line-height: calc(3.2917 / var(--space) * var(--vspace));
  font-family: var(--ibm-plex);
  font-weight: 400;
}

.h1-bold {
  font-family: var(--outfit);
  font-weight: 500;
}

h2 {
  line-height: 1em;
  font-family: var(--ibm-plex);
  font-weight: 400;
}

.h2-bold {
  font-family: var(--outfit);
  font-weight: 600;
}

h3 {
  line-height: 1em;
}

h4,
h5,
h6 {
  line-height: var(--vspace);
  margin-top: var(--vspace-3);
}

.bigtitle,
h1 {
  font-size: 3.2917em;
  word-break: break-word;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.title,
h2 {
  font-size: 2em;
  text-transform: uppercase;
  word-break: break-word;
}

.subheading1,
h3 {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: var(--vspace-3);
}

blockquote {
  font-size: 1em;
  /* font-style: italic; */
  line-height: calc(1 * var(--vspace));
}

.subheading2,
h4 {
  font-size: 1.2292em;
  text-transform: uppercase;
  font-family: var(--outfit);
  font-weight: 600;
  margin-top: var(--vspace-3);
}

.subheading3,
h5 {
  font-size: 1.1042em;
  text-transform: uppercase;
  /* letter-spacing: 0.15em; */
  font-family: var(--outfit);
  font-weight: 600;
}

.subheading4,
h6 {
  font-size: 1em;
  font-family: var(--outfit);
  font-weight: 600;
  text-transform: capitalize;
  text-transform: uppercase;
}

.caption_ts {
  font-size: 0.8333em;
  font-weight: normal;
  font-style: italic;
  font-family: var(--outfit);
}

.endnote_ts {
  font-size: 0.8333em;
  font-family: var(--ibm-plex);
  font-weight: 400;
}

.footnote_ts {
  /* margin: var(--vspace-0) 0 var(--vspace-2) 0; */
  font-size: 0.75em;
  /* border-top: 1px solid #ccc; */
  line-height: 2em;
}

sup {
  font-size: 0.75rem;
  /* margin: 0.5em; */
  font-family: var(--outfit);
  text-transform: none;
  font-style: italic;
  opacity: 0.8;
  /* font-weight: normal; */
}

button {
  font-family: var(--outfit);
  font-weight: 500;
}

a {
  font-size: var(--size-200);
  font-family: var(--outfit);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
legend {
  font-size: var(--size-500);
  font-weight: 400;
  /* font-family: var(--ibm-plex); */
}
address {
  font-family: var(--ibm-plex);
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /* filter: grayscale(100%); */
}

input,
textarea {
  appearance: none;
  font-family: var(--ibm-plex);
}

input::placeholder,
textarea::placeholder {
  font-size: inherit;
  font-family: inherit;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

ul.horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 1ex;
}

ul.horizontal li a,
ul.horizontal li button {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.75ex;
  cursor: pointer;
}
ul.horizontal li span {
  font-size: inherit;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 48;
  font-size: inherit;
}
.top-control {
  padding: var(--vspace-3);
}

form {
  /* background-color: gold; */
  display: flex;
  flex-direction: column;
  gap: var(--vspace-3);
  padding: calc(var(--vspace-3) / 2);
}
fieldset {
  /* margin-top: var(--vspace-2); */
  padding: calc(var(--vspace-3)) 0;
  appearance: none;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: var(--vspace-3);
}
fieldset button {
  height: var(--size-700);
  min-width: 300px;
  align-self: flex-start;
}
fieldset legend {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-right: 2ex;
  text-transform: uppercase;
}
fieldset.user-submit {
  margin: 0;
  border: 0;
}
fieldset.user-picture .panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2ex;
}
fieldset.user-picture .panel .image-control {
  height: 96px;
  width: 96px;
  border-radius: 4px;
  clip-path: circle();
  overflow: hidden;
  /* margin-right: auto; */
}
fieldset.user-picture .panel label {
  display: flex;
  align-items: center;
  gap: 1ex;
  transform: translateY(-2px);
}
fieldset .panel {
  display: flex;
  flex-direction: column;
}
fieldset .panel label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.75ex;
}
fieldset .panel input {
  min-width: 300px;
  border-radius: 4px;
  border: 0;
  height: var(--size-700);
  text-indent: 0.5ex;
}
fieldset .panel textarea {
  border-radius: 4px;
  border: 0;
  text-indent: 0.5ex;
  min-height: 200px;
}
fieldset:last-child {
  border: 0;
  margin: 0;
}
